body {
  background-color: black !important;
}

#container {
  display: flex;
  margin: 5rem;
}

#MovieInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5rem;
  width: 25rem;
  border: 1px solid rgb(0,0,0);
  padding: 5px;
}

#DetailsImage {
  width: 15rem;
}

#MovieTitle {
  font-size: 40px;
  text-align: center;
}

.GrayBg {
  background-color: gray;
  border-radius: 10%;
  padding: 5px;
  font-size: 1rem;
}

#Buttons {
  display: flex;
  justify-content: space-around;
}

#imdb {
  font-size: 40px;
  color: blue;
  text-align: center;
}

#CardContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width: 14rem;
  margin: 1rem;
  align-items: center;
}

#CardImage {
  width: 12rem;
}

#CardTitle {
  font-size: 1.5rem;
  color: white;
}

#MovieTag {
  background-color: pink;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 20%;
  color: red;
}

#Success {
  font-size: 3rem;
  color: green;
}

#Loading {
  font-size: 2rem;
  color: orange;
}

#MovieList {
  display: flex;
}

#form {
  position: relative;
  left: 30rem;
  width: 20em;
  padding: 2rem;
  border: 2px solid white;
}

#input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
}

#routetest {
  color: white;
  font-size: 3rem;
}