#container {
  display: flex;
  margin: 5rem;
}

#MovieInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5rem;
  width: 25rem;
  border: 1px solid rgb(0,0,0);
  padding: 5px;
}

#DetailsImage {
  width: 15rem;
}

#MovieTitle {
  font-size: 40px;
  text-align: center;
}

.GrayBg {
  background-color: gray;
  border-radius: 10%;
  padding: 5px;
  font-size: 1rem;
}

#Buttons {
  display: flex;
  justify-content: space-around;
}

#imdb {
  font-size: 40px;
  color: blue;
  text-align: center;
}

#CardContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 15rem;
  margin: 5rem;
  align-items: center;
}

#CardImage {
  width: 15rem;
}

#CardTitle {
  font-size: 1.5rem;
}

#MovieTag {
  background-color: pink;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 20%;
  color: red;
}

#Success {
  font-size: 3rem;
  color: green;
}